<h1>My diary</h1>
<p>All your todos here</p>


<%= form_for @todo, remote: true do |f| %>  
  <%= f.text_field :title %>   
  <%= f.submit "Add", remote: true %>
<% end %> 
<ul>
<% @todos.each do |t| %> 
  <% if t.completed == true %>
     <li style="color:grey;"><%= check_box_tag  "todos_checkbox[]", t.id%> <s><%= t.title %></s> <%= link_to "Delete", t, remote: true, method: :delete %></li>
  <% else %>
     <li> <%= check_box_tag  "todos_checkbox[]", t.id%> <%= t.title %> <%= link_to "Delete", t, remote: true, method: :delete %> </li>
  <% end %>
<% end %>
<%= submit_tag 'Complete Todos' %>
</ul>



